* {
	box-sizing: border-box;
}

ul.escenario {
	list-style: none;
	padding:0;
}

li.escena {
	width:300px;
	height: 400px;
	perspective: 1000px;
	margin:50px;
}

div.pelicula {
	width:300px;
	height: 400px;
	background-color: white;
	transform-style: preserve-3d;
	transform: translateZ(-150px);
	transition: transform .35s;
}

div.pelicula:hover{
	transform: rotateY(-78deg);
}

div.poster {
	width: 300px;
	height: 400px;
	position: absolute;
	background-color: green;
	transform: translateZ(150px);
	background-image: url(poster.jpg)
}

div.info {
	width: 300px;
	height: 400px;
	position: absolute;
	background-color: white;
	border: 1px solid brown;
	transform: rotateY(90deg) translateZ(150px)
}

header {
	width:300px;
	height: 193px;
	background-image: url(foto.jpg)
}

p {
	border-top: 10px solid gray;
	font-family: Verdana;
	font-size:14px;
	color: rgba(0,0,0,.8);
	padding:20px;
}
