* {
	font-family:Arial;
	box-sizing: border-box;
}

body {
	margin:0;
	padding:0;
	background-color: #c4c0bf

}

.contenedorPrincipal {
	width: 100%;
	background-image: url(../imagenes/linea_fondo.jpg);
	background-repeat: repeat-x;
	min-height: 600px;
	background-color: #c4c0bf
}
	.contenedorPrincipal .contenedor {
		width: 950px;
		margin:0 auto;
	}

		.contenedorPrincipal header {
			width:100%;
			padding-top:20px;
			overflow: hidden;
		}

			.contenedorPrincipal header .logo {
				width:194px;
				float:left;
			}

			.contenedorPrincipal nav {
				float:right;
			}

				.contenedorPrincipal nav ul {
					margin:0;
					padding:0;
					list-style: none;
					list-style-type: none;
					font-size:0;
				}

				.contenedorPrincipal nav li {
					display:inline-block;

				}

					.contenedorPrincipal nav li a,
					.contenedorPrincipal nav li a:link,
					.contenedorPrincipal nav li a:visited,
					.contenedorPrincipal nav li a:active {
						color:#7d7978;
						text-decoration: none;
						text-transform: uppercase;
						font-size:12px;
						font-weight: bold;
						padding-top:7px;
						padding-left:10px;
						padding-right: 10px;
						padding-bottom:7px;
						display: block;
						width:100%;
					}

					.contenedorPrincipal nav li a:hover {
						color:red;
					}

/* PIE */
.pie {
	width:100%;
	margin-top:65px;
	background-image: url(../imagenes/background_footer.jpg);
	background-repeat: repeat-x;
	background-color: #131210
}

	.pie footer {
		width: 950px;
		margin: 0 auto;
		font-size: 0;
		padding-bottom:30px;
	}



		.pie footer .columna {
			width: 200px;
			margin-right:50px;
			display: inline-block;
			vertical-align: top;
			margin-top:30px;
			color: white;
			font-size:14px;
		}

		.pie footer .col-duplex {
			width:450px;
		}

		.pie footer span {
			color: #0081f0;
		}

		.pie footer ul {
			margin:0;
			padding:0;
			list-style: none;
		}

		.pie footer ul a {
			text-decoration: none;
			color:#0081f0;
		}

		.pie footer ul a:hover {
			text-decoration: underline;
		}

		.pie footer h2 {
			text-transform: uppercase;
		}

/*		.pie footer .sinMargen {
			margin-right:0;
		}	*/	


/*		.pie footer .columna.sinMargen {
			margin-right:0;
		}		*/	

		.sinMargen {
			margin-right: 0 !important
		}

