* {
	font-family: Arial;
}

body {
	margin:0;
	padding:0;
	box-sizing: border-box;
}

.contenedorPrincipal {
	background-image: url(../imagenes/linea_fondo.jpg);
	background-repeat: repeat-x;
	background-color: #c4c0bf;
	padding-top:20px;
}
	.contenedorPrincipal header {
		position: relative;
		margin-bottom:20px;
	}

		.contenedorPrincipal header .logo {
			text-align: center;
		}

		.contenedorPrincipal header .menuMovil {
			position: absolute;
			right:5px;
			top:5px;
			width:60px;
			height: 60px;
			background-color: yellow;
		}

		.contenedorPrincipal header img {
			width:100%;
			max-width:194px;
/*			margin:0 auto;
			display: block;*/
		}

		.contenedorPrincipal header nav {
			display: none;
		}

		.contenedorPrincipal .caracteristicas {
			text-align: center;
			position: relative;
	    	background-color: #fff;
    		border: 1px solid #a4a09f;
    		padding:15px;
		}

		.contenedorPrincipal .caracteristicas .texto {
			text-align: justify;
		}

		.contenedorPrincipal .caracteristicas .texto p {
			font-size:17px;
		}

		.contenedorPrincipal .caracteristicas .texto p span {
			color: #0081f0;
		}

		.contenedorPrincipal .caracteristicas .texto section {
			font-size:17px;
		}

		.contenedorPrincipal .caracteristicas .boton {
			padding:15px;
			background-image: url(../imagenes/button_bg.jpg);
			background-repeat: repeat-x;
			/*background-size: cover;*/
			font-size:13px;
			color: #fff;
			text-transform: uppercase;
			width:100px;
			margin:0 auto;
		}

		.contenedorPrincipal .imagen {
			margin-top:20px;
		}

		.contenedorPrincipal .imagen img {
			width:100%;
			max-width: 398px;
		}


		.contenedorPrincipal .texto {
			padding:15px;
		}

		.contenedorPrincipal .franjaCaracteristicas {
			position: absolute;
			top:0;
			right: 0;
			width: 100px;
		}

		.contenedorPrincipal .franjaCaracteristicas img {
			width:100%;
		}

		.contenedorPrincipal .proyectosRecientes .proyecto {
			padding: 8px;
			margin-bottom:6px;
			margin-top: 6px;
			background-color: #e3dddd;
			position: relative;
		}

		.contenedorPrincipal .proyectosRecientes .imagenProyecto {
			text-align: center;
		}

		.contenedorPrincipal .proyectosRecientes .textoProyecto {
			text-align: center
		}

		.contenedorPrincipal .proyectosRecientes .textoProyecto h1 {
			font-size:18px;
		}

		.contenedorPrincipal .proyectosRecientes .textoProyecto p {
			font-size: 17px;
			color: #827e7b;
		}

		.contenedorPrincipal .proyectosRecientes .franja {
			position: absolute;
			top:0;
			right:0;
		}

		.contenedorPrincipal .intro {
			padding:8px;
		}

		.contenedorPrincipal .intro p {
			font-size: 18px;
			line-height: 22px;
			color: #827e7b;
		}

		.contenedorPrincipal .intro p span {
			color: #5484b2;
		}


.pie {
	background-color: #131210;
	border-top: 5px solid #060604;
	
}

.pie footer {
	padding:8px;
	color:#e6e2e1;
	font-size: 17px;
}

.pie footer .columna {
	width:100%;
}

.pie footer .columna h2 {
	text-transform: uppercase;
}

.pie footer .columna ul {
	list-style: none;
	padding:0;
	margin:0;
}

.pie footer .columna ul a,
.pie footer .columna ul a:link,
.pie footer .columna ul a:active,
.pie footer .columna ul a:visited {
	text-decoration: none;
	color: #00aef0;
	font-size:20px;
	line-height: 35px;
}


.pie footer .columna ul a:hover {
	text-decoration: underline;
}

/* VERSIÓN TABLETA*/
@media screen and (min-width:700px) {

		.contenedorPrincipal header .menuMovil {
			display:none;
		}

		.contenedorPrincipal header nav {
			display: block;
		}

				.contenedorPrincipal nav ul {
					margin:0;
					padding:0;
					list-style: none;
					list-style-type: none;
					font-size:0;
				}

				.contenedorPrincipal nav li {
					display:inline-block;
					width:20%;

				}

					.contenedorPrincipal nav li a,
					.contenedorPrincipal nav li a:link,
					.contenedorPrincipal nav li a:visited,
					.contenedorPrincipal nav li a:active {
						color:#7d7978;
						text-decoration: none;
						text-transform: uppercase;
						font-size:12px;
						font-weight: bold;
						padding-top:7px;
						padding-left:10px;
						padding-right: 10px;
						padding-bottom:7px;
						display: block;
						width:87%;
						text-align: center;
					}

					.contenedorPrincipal nav li a:hover {
						color:red;
					}

					.contenedorPrincipal .caracteristicas {
						overflow: hidden;
					}

					.contenedorPrincipal .caracteristicas .texto {
						width:45%;
						float:right;
					}

					.contenedorPrincipal .caracteristicas .imagen {
						width:45%;
						float:left;
					}

					.contenedorPrincipal .caracteristicas .texto .boton {
						display: block;
						float:right;
					}

					.contenedorPrincipal .caracteristicas .boton {
						display: none;
					}

					.contenedorPrincipal .proyectosRecientes {
						font-size: 0
					}

					.contenedorPrincipal .proyectosRecientes .imagenProyecto {
						width:30%;
						display: inline-block;
					}

					.contenedorPrincipal .proyectosRecientes .textoProyecto {
						width:70%;
						display: inline-block;
						text-align: left;
					}

					.contenedorPrincipal .proyectosRecientes .textoProyecto h2 {
						font-size:18px;
					}

					.pie footer div.columna:nth-child(2),
					.pie footer div.columna:nth-child(3) {
						float:left;
						width:50%;
					}

					.pie footer {
						overflow: hidden
					}
}

/*Versión Desktop*/
@media screen and (min-width: 950px) {
	.contenedorPrincipal .contenedor,
	.pie footer {
		width:950px;
		margin:0 auto;
		overflow: hidden
	}
	.contenedorPrincipal header {
		overflow: hidden;
	}
	.contenedorPrincipal header .logo {
		width:15%;
		float:left;
		text-align: left
	}

	.contenedorPrincipal header nav {
		width:70%;
		float: right;
	}

	.contenedorPrincipal .proyectosRecientes {
		float:left;
		width:60%;
	}

	.contenedorPrincipal .intro {
		float:left;
		width:38%;
	}

	.pie footer {
		font-size: 0;
	}

	.pie footer div.columna {
		font-size:20px;
		vertical-align: top
	}

	.pie footer div.columna:nth-child(2),
	.pie footer div.columna:nth-child(3) {
		width:25%;
		display: inline-block;
		float:none;
	}

	.pie footer div.col-duplex {
		width:50%;
		display: inline-block;
		float:none;
	}
}