body {
	margin:0;
	padding:0;
}

.contenedorPrincipal {
	width: 100%;
	background-image: url(../imagenes/linea_fondo.jpg);
	background-repeat: repeat-x;
	min-height: 600px
}
	.contenedorPrincipal .contenedor {
		width: 950px;
	}

.pie {
	width:100%;
}