body {
	margin:0;
	padding:0;
}

.contenedorPrincipal {
	width: 100%;
	background-image: url(../imagenes/linea_fondo.jpg);
	background-repeat: repeat-x;
	min-height: 600px
}
	.contenedorPrincipal .contenedor {
		width: 950px;
		margin:0 auto;
	}

		.contenedorPrincipal header {
			width:100%;
			background-color: yellow;
			padding-top:20px;
			overflow: hidden;
		}

			.contenedorPrincipal header .logo {
				width:194px;
				float:left;
			}

			.contenedorPrincipal header nav {
				float:right;
			}

.pie {
	width:100%;
}